[Unit]
Description=ESP Remote Manager

[Service]
Type=simple
User=pi
Group=pi
Restart=always
ExecStart=
WorkingDirectory=/home/pi/build-espremotemanager
ExecStart=/home/pi/build-espremotemanager/bin/espremotemanager

[Install]
WantedBy=network-online.target
